/* https://en.wikipedia.org/wiki/Salut_d%27amor */
/* https://favicomatic.com */
/* https://teamtreehouse.com/community/backgroundimage-opacity */

/* Make height depend on width */
/* https://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout */

.page{
	position: static;
}

.page-bg {
	position: fixed;
	z-index: -1;   
	width: 100%;
	height: 100%;
	background-image: url("img/flowers.jpg");
	/* background-color: #ffdad9; */
	background-size: cover;
	opacity: .2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

body{
	background-color:#ffdad9;
}


/* intro part */
.exposition{
	width: fit-content;
	padding: 10px;
}

.the_journey_begins{
	display: flex;
	flex-flow: row wrap;
	flex: 0 1 auto;
	justify-content: space-around;
	padding: 0;
	margin: 5px;
	list-style: none;
}

.events {
	padding: 5px;
	/* width: 30%; */
	width: 400px;
	height: 400px;
	/* height: 40vh */
	margin-top: 10px;
	line-height: 150px;
  }

.rising_action, .climax, .falling_action {
	height: 80%;
	overflow-y: scroll;
	line-height: 1.6;
}
/* ========================================================================== */

/* education */
.rising_action{
	display: flex;
	flex-direction: column;
}

.rising1{
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.rising2{
	height: inherit;
	flex: 1 0 auto;
	/* overflow-y: scroll; */
}

/* projects */
.climax {
	overflow-y: scroll;
	border: solid black 1px;
	border-radius: 20px 20px;
	display: block;
	box-sizing: border-box;
}

.climax p h5 {
	vertical-align: bottom;
	display: inline;
}

/* experience */
.falling_action{
	display: flex;
	flex-direction: column;
}

.falling_action li{
	display: flex;
	flex-direction: row;
}


/* catastrophe */
#info img{
	width: 40px;
	margin: 4px 4px;
	border: 1px;
}

/* ========================================================================== */

/* General style */

h1 {
	text-align: center;
	font-weight: bold;
	font-family: Garamond;
}

p {
	line-height: 1.6;
	text-align: left;
	font-size: 14pt;
}

* {
	font-family: Garamond;
	color: black;
}

ul{
	list-style: none;
	padding-left: 0;
}

/* Middle of page icons */
#icon img{
	float:left;
	width: 60px;
	margin: 0px 10px 10px 10px;
	padding: .5em .5em;
}

.carousel img{
	width: 80%;
	position: center;
}

/* all scrollbars */
::-webkit-scrollbar{
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track{
	background: none; 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb{
	background: rgba(255,255,255, 0.5);
	border-radius: 10px;
}